<h1>Hello ...!! This is<span style="color:blue;"> {{title}} </span></h1>

<h2>without for loop</h2>
<p>city name: {{arr[0]}}</p>
<p>city name: {{arr[1]}}</p>
<p>city name: {{arr[2]}}</p>

<h2>using for loop</h2>
<ul>
    <li class="mbpartli" *ngFor="let mobpart of mobparts">
        <p><span class="mpart">Mobile Part ID:</span> <b>{{mobpart.id}}</b></p>
        <p><span class="mpart">Mobile Name:</span> <b><i> {{mobpart.name}}</i></b></p>
        <p><span class="mpart">Mobie Description: </span><b>{{mobpart.description}}</b></p>
        <p><mark><b>Hurry!!! {{mobpart.inStock}}</b></mark> available in Stock now..</p>
    </li>
</ul>
